.home {
  /* background-color: red; */
  padding: 2px;
  max-width: 1440px;
  margin: 0 auto;
}

.home .home-titles {
  max-width: 1440px;
  padding: 5px;
  margin: 0 auto;
}

.home .title-contents {
  max-width: 900px;
  margin: 15% auto 5%;
}

.home .home-title {
  font-size: 60px;
  margin: 0;
  padding: 5px;
  font-family: "Times New Roman", Times, serif;
}

.home .home-subtitle {
  font-size: 22px;
  margin-top: 0;
  padding: 5px;
}

.home .books-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 15px;
  padding: 20px;
}

.home .books-container .card {
  width: 300px;
  min-height: 350px;
  /* box-shadow: 0 0 4px 0.2px #000; */
  overflow: hidden;
  text-align: left !important;
  /* background-color: pink; */
}

.home .books-container .card .book-img-wrapper,
.home .books-container .card .book-img-wrapper img {
  width: 100%;
}

.home .books-container .card .book-img-wrapper {
  height: 250px;
}

.home .books-container .card .book-img-wrapper img {
  height: 100%;
  cursor: pointer;
}
